{% extends 'layout.html' %}

{% block title %}
    User Login - music app
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-4">
                <h1>User Login Page</h1>
            </div>
            <form method="POST" >
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" value="Login" class="btn btn-primary" >Login</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock body %}
    